/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Image for Nav */
.nav-bg {
  background-image: url("/donate.png"); /* Assuming donate.png is in the public folder */
  background-size: cover;
  background-position: center;
}
